/* MyOrder.css */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;

  }
  
  .table th,
  .table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
  }
  .table td a{
    background-color: #007ea7;
    color: white;
  }
  .table td a:hover{
    background-color: #005e7d;
    color: white;
  }
  
  .table th {
    background-color: #f5f5f5;
    font-weight: 600;
    color: #333;
  }
  
  .table tbody tr:hover {
    background-color: #f0f0f0;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .table {
      margin-left: 20px;
      overflow-x: auto;
      width: 100vw;
      
    }
  
    .table thead {
      display: none;
      
    }
  
    .table tbody tr {
      display: flex;
      
      flex-direction: column;
      align-items: flex-start;
      width: 90vw;
      padding: 15px;
      margin-bottom: 10px;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
    }
  
    .table tbody td::before {
      content: attr(data-label);
      font-weight: bold;
    }
  }
  